<script type='type/x-kendo-template' id='LoginTemplate'>

<form class="col-md-2">

	<h1>Login Here</h1>

	<div class="form-group">
		<input type="text" class="form-control input-lg" placeholder="Email">
	</div>
	<div class="form-group">
		<input type="password" class="form-control input-lg"
			placeholder="Password">
	</div>

	<div class="form-group">
		<button id="btnMain" class="btn btn-primary btn-lg btn-block">Login Main</button>
		<button id="btnAdmin" class="btn btn-primary btn-lg btn-block">Login Admin</button>
	</div>
</form>

<script src='js/app/login.js' type='text/javascript'></script>

</script>